{% extends '@Tabler/layout-vertical.html.twig' %}

{% block page_title %}{% endblock %}
{% block page_pretitle %}{% endblock %}

{% block navbar_start %}
    {% if app.session.get('theme') == 'dark' %}
        <a href="{{ path('light-mode') }}" class="nav-link px-0 me-2" title="" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Enable light mode">
            {{ tabler_icon('sun', true) }}
        </a>
    {% else %}
        <a href="{{ path('dark-mode') }}" class="nav-link px-0 me-2" title="" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Enable dark mode">
            {{ tabler_icon('moon', true) }}
        </a>
    {% endif %}
  
    <div class="nav-item dropdown d-none d-md-flex me-2">
        <a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1" aria-label="Choose a language" aria-expanded="false">
            {{ tabler_icon('fas fa-globe', true) }}
        </a>
    </div>
{% endblock %}



    {% block navbar %}
        <aside id="{% block sidebar_id %}{% endblock %}" class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="{{ tabler_bundle.isNavbarDark() ? 'dark' : 'light' }}">
            <div class="{{ ''|tabler_container }}">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% block app_logo %}
                    <h1 class="{% block navbar_brand_classes %}navbar-brand {% block navbar_brand_class %}navbar-brand-autodark{% endblock %}{% endblock %}">
                        {% include '@Tabler/includes/logo.html.twig' %}
                    </h1>
                {% endblock %}
                <div class="navbar-nav flex-row d-lg-none">
                    {{ _self.navbar(navbarStartContent, navbarNotificationsContent, navbarUserContent, navbarEndContent) }}
                </div>
                <div id="navbar-menu" class="collapse navbar-collapse">
                    {% block navbar_menu_start %}{% endblock %}
                    {% include '@Tabler/includes/menu.html.twig' with {layout_type: 'vertical', navbar_class : 'pt-lg-3'} %}
                    {% block navbar_menu_end %}{% endblock %}
                </div>
            </div>
        </aside>
    {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/languages/twig.min.js"></script>
    <script>hljs.highlightAll();</script>
{% endblock %}